---
---

@import "{{ site.theme }}";
.project-name {
  /* White text color for better contrast */
  color: white;
  /* Text shadow for better legibility over the background */
  text-shadow: 0px 0px 50px #000,0px 0px 50px #000,0px 0px 50px #000;
}
.project-tagline {
  font-weight: 700;
  color: white;
  opacity: 1;
  text-shadow: 0px 0px 25px #000,0px 0px 25px #000,0px 0px 25px #000, 0px 0px 25px #000;


}
.btn {
  /* Lighter navy background for the buttons to blend with a dark navy background */
  background-color: #284b63;
  /* Padding and border radius for better button shape */
  padding: 10px 20px;
  border-radius: 5px;
  /* Bright color text to stand out on the dark button */
  color: #ffffff;
  /* Box shadow for depth, using a darker shade for a subtle effect */
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  /* Making the text bold */
  font-weight: bold;
  /* A brighter border to contrast with the dark navy */
  border: 1px solid #1e3a56;
  /* Smooth transition for hover effects */
  transition: background-color 0.3s ease-in-out, transform 0.3s ease;
}

.btn:hover {
  /* Slightly lighter background color on hover for a subtle effect */
  background-color: #2e5c7f;
  /* Slight scale up on hover for interactive feedback */
  transform: scale(1.05);
}
.page-header {
  background-image: url("../img/header.png");
  background-size: 100% auto;
}
.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
  color:#29293f;
  font-weight: bold;
}
